.form-input {
  width: 100%;
  text-align: center;
}
.input-text {
  padding: 10px 18px;
  font-size: 18px;
  border-radius: 20px;

  outline: none;
  border: none;
  margin-right: 20px;
}
.search-btn {
  padding: 10px 18px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 20px;
  color: white;
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255) 0%,
    rgb(59, 51, 223) 100%
  );
  cursor: pointer;
  outline: none;
  border: none;
  margin-right: 20px;
  transition: 0.4s linear;
}
